In [1]:
# Import tools
from splinter import Browser
import pandas as pd
import numpy as np
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Create empyt DataFrame
AF1 = pd.DataFrame(columns = ['ID', 'GPS_Code', 'IATA_Code', 'name', 'continent', 'country', 'region', 'af_type', 'latitude', 'longitude', 'elevation',  'runway_L', 'runway_W', 'freq_count', 'airline_count'])
print(AF1)

Empty DataFrame
Columns: [ID, GPS_Code, IATA_Code, name, continent, country, region, af_type, latitude, longitude, elevation, runway_L, runway_W, freq_count, airline_count]
Index: []

In [3]:
# Create the temporary dataframe
temp_df = pd.DataFrame(columns =['ID', 'GPS_Code', 'IATA_Code', 'name', 'continent', 'country', 'region', 'af_type', 'latitude', 'longitude', 'elevation', 'runway_L', 'runway_W', 'freq_count', 'airline_count'])
temp_df

Empty DataFrame
Columns: [ID, GPS_Code, IATA_Code, name, continent, country, region, af_type, latitude, longitude, elevation, runway_L, runway_W, freq_count, airline_count]
Index: []

In [4]:
# Import URL data
url_data_df = "Resources/Pacific_airfield_data.csv"

In [5]:
# create URL dataframe
url_surface = pd.read_csv(url_data_df)
url_surface

                                                   url  surface
0    https://airportdatabase.net/australia/badu-isl...        2
1    https://airportdatabase.net/australia/horn-isl...        3
2    https://airportdatabase.net/australia/kubin-ai...        2
3    https://airportdatabase.net/norfolk-island/nor...        3
4    https://airportdatabase.net/fiji/cicia-airport...        1
..                                                 ...      ...
439  https://airportdatabase.net/vanuatu/tongoa-isl...        1
440  https://airportdatabase.net/vanuatu/torres-air...        1
441  https://airportdatabase.net/vanuatu/ulei-airpo...        1
442  https://airportdatabase.net/vanuatu/valesdir-a...        1
443  https://airportdatabase.net/vanuatu/walaha-air...        1

[444 rows x 2 columns]

In [6]:
# Create list of runway surface data
surface_df = (url_surface['surface'])
print(surface_df)

0      2
1      3
2      2
3      3
4      1
      ..
439    1
440    1
441    1
442    1
443    1
Name: surface, Length: 444, dtype: int64

In [7]:
# for loop to select URL from CSV, read table, transform data, write to target(CSV/SQL), close URL, move to next row of CSV.
# for x in range(0, 444)

# for label, row in url_data_df.iterrows():
#    url_data_df.loc[label,'gdp_per_cap'] = row['GDP ($US Trillion)']/row['Population '] * 1000000000000

In [8]:
# Create URL for HTML table
url = url_surface.loc[url_surface['url'].str.contains('https')]
url2 = url.iloc[0]['url']
url2

'https://airportdatabase.net/australia/badu-island-airport-bdd_27355.html'

In [9]:
# Read HTML table
df1 = pd.read_html(url2)[0]
df1

,Unnamed: 0,Unnamed: 1
0,Badu Island Airport details and information,Badu Island Airport details and information
1,ident:,YBAU
2,type:,small airport
3,NaN,NaN
4,latitude:,-10.14999961853027
5,longitude:,142.17340087890625
6,elevation:,14 ft.
7,continent:,Oceania (OC)
8,iso country:,Australia (AU)
9,ISO Region:,Queensland (AU-QLD)
10,Scheduled Service:,yes
11,GPS Code:,YBAU
12,IATA Code:,BDD
13,wikipedia link:,Badu Island Airport in Wikipedia
14,Badu Island Airport runways,Badu Island Airport runways
15,12/30,2788x0 ft.
16,Badu Island Airport frequencies,Badu Island Airport frequencies
17,CTAF ( CTAF ),120.3 Mhz
18,MISC ( MISC ),116.1 Mhz
19,MISC ( MISC ),119.6 Mhz
20,MISC ( MISC ),126.8 Mhz

In [10]:
# Rename columns for ease of reading
df1.columns = ['Col_1', 'Col_2']

In [11]:
# Create Name variable
df1.loc[0, 'Col_1'] = 'name'
df1['Col_2'] = df1['Col_2'].str.replace(' details and information', '')
df1

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                            ident:                              YBAU
2                             type:                     small airport
3                               NaN                               NaN
4                         latitude:                -10.14999961853027
5                        longitude:                142.17340087890625
6                        elevation:                            14 ft.
7                        continent:                      Oceania (OC)
8                      iso country:                    Australia (AU)
9                       ISO Region:               Queensland (AU-QLD)
10               Scheduled Service:                               yes
11                        GPS Code:                              YBAU
12                       IATA Code:                               BDD
13                  wikipedia link:  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                        2788x0 ft.
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [12]:
# Clean text; remove "ft."
df1['Col_2'] = df1['Col_2'].str.replace(' ft.', '')
df1

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                            ident:                              YBAU
2                             type:                     small airport
3                               NaN                               NaN
4                         latitude:                -10.14999961853027
5                        longitude:                142.17340087890625
6                        elevation:                                14
7                        continent:                      Oceania (OC)
8                      iso country:                    Australia (AU)
9                       ISO Region:               Queensland (AU-QLD)
10               Scheduled Service:                               yes
11                        GPS Code:                              YBAU
12                       IATA Code:                               BDD
13                  wikipedia link:  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                            2788x0
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [13]:
# Clean text; remove colons
df1['Col_1'] = df1['Col_1'].str.replace(':', '')
df1

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
3                               NaN                               NaN
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                                14
7                         continent                      Oceania (OC)
8                       iso country                    Australia (AU)
9                        ISO Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS Code                              YBAU
12                        IATA Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                            2788x0
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [14]:
# Clean text; remove "iso"
df1['Col_1'] = df1['Col_1'].str.replace('iso ', '')
df1

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
3                               NaN                               NaN
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                                14
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                        ISO Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS Code                              YBAU
12                        IATA Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                            2788x0
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [15]:
# Clean text; remove "ISO"
df1['Col_1'] = df1['Col_1'].str.replace('ISO ', '')
df1

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
3                               NaN                               NaN
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                                14
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                            Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS Code                              YBAU
12                        IATA Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                            2788x0
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [16]:
# Clean text; remove " Code"
df1['Col_1'] = df1['Col_1'].str.replace(' Code', '_Code')
df1

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
3                               NaN                               NaN
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                                14
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                            Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS_Code                              YBAU
12                        IATA_Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                            2788x0
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [17]:
# Remove null row
df2 = df1.dropna()
df2

                              Col_1                             Col_2
0                              name               Badu Island Airport
1                             ident                              YBAU
2                              type                     small airport
4                          latitude                -10.14999961853027
5                         longitude                142.17340087890625
6                         elevation                                14
7                         continent                      Oceania (OC)
8                           country                    Australia (AU)
9                            Region               Queensland (AU-QLD)
10                Scheduled Service                               yes
11                         GPS_Code                              YBAU
12                        IATA_Code                               BDD
13                   wikipedia link  Badu Island Airport in Wikipedia
14      Badu Island Airport runways       Badu Island Airport runways
15                            12/30                            2788x0
16  Badu Island Airport frequencies   Badu Island Airport frequencies
17                    CTAF ( CTAF )                         120.3 Mhz
18                    MISC ( MISC )                         116.1 Mhz
19                    MISC ( MISC )                         119.6 Mhz
20                    MISC ( MISC )                         126.8 Mhz

In [18]:
# count frequencies and navaids
freq_df = df2.loc[df2['Col_2'].str.contains("Mhz")]
freq_df

            Col_1      Col_2
17  CTAF ( CTAF )  120.3 Mhz
18  MISC ( MISC )  116.1 Mhz
19  MISC ( MISC )  119.6 Mhz
20  MISC ( MISC )  126.8 Mhz

In [19]:
# create freq_count variable
freq_count = len(freq_df)
freq_count

4

In [20]:
# create name variable
name = df2.loc[df2['Col_1'].str.contains('name')]
name2 = name.iloc[0]['Col_2']
name2

'Badu Island Airport'

In [21]:
# create ID variable
ID = df2.loc[df2['Col_1'].str.contains('ident')]
ID2 = ID.iloc[0]['Col_2']
ID2

'YBAU'

In [22]:
# create type variable
af_type = df2.loc[df2['Col_1'].str.contains('type')]
af_type2 = af_type.iloc[0]['Col_2']
af_type2

'small airport'

In [23]:
# create latitude variable
latitude = df2.loc[df2['Col_1'].str.contains('latitude')]
latitude2 = latitude.iloc[0]['Col_2']
latitude2

'-10.14999961853027'

In [24]:
# create longitude variable
longitude = df2.loc[df2['Col_1'].str.contains('longitude')]
longitude2 = longitude.iloc[0]['Col_2']
longitude2

'142.17340087890625'

In [25]:
# create elevation variable
elevation = df2.loc[df2['Col_1'].str.contains('elevation')]
elevation2 = elevation.iloc[0]['Col_2']
elevation2

'14'

In [26]:
# create continent variable
continent = df2.loc[df2['Col_1'].str.contains('continent')]
continent2 = continent.iloc[0]['Col_2']
continent2

'Oceania (OC)'

In [27]:
# create country variable
country = df2.loc[df2['Col_1'].str.contains('country')]
country2 = country.iloc[0]['Col_2']
country2

'Australia (AU)'

In [28]:
# create region variable
region = df2.loc[df2['Col_1'].str.contains('Region')]
region2 = region.iloc[0]['Col_2']
region2

'Queensland (AU-QLD)'

In [29]:
# create GPS_code variable
GPS_Code = df2.loc[df2['Col_1'].str.contains('GPS_Code')]
GPS_Code2 = GPS_Code.iloc[0]['Col_2']
GPS_Code2

'YBAU'

In [30]:
# create IATA_code variable
IATA_Code = df2.loc[df2['Col_1'].str.contains('IATA_Code')]
IATA_Code2 = IATA_Code.iloc[0]['Col_2']
IATA_Code2

'BDD'

In [31]:
# find runway data rows
pattern = '[0-9]x[0-9]'
runway = df2['Col_2'].str.contains(pattern, na=False)
runway

0     False
1     False
2     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
Name: Col_2, dtype: bool

In [32]:
# tag runway data rows in table w/"True"
runway_B = pd.concat([df2, runway], axis=1)
runway_B

                              Col_1                             Col_2  Col_2
0                              name               Badu Island Airport  False
1                             ident                              YBAU  False
2                              type                     small airport  False
4                          latitude                -10.14999961853027  False
5                         longitude                142.17340087890625  False
6                         elevation                                14  False
7                         continent                      Oceania (OC)  False
8                           country                    Australia (AU)  False
9                            Region               Queensland (AU-QLD)  False
10                Scheduled Service                               yes  False
11                         GPS_Code                              YBAU  False
12                        IATA_Code                               BDD  False
13                   wikipedia link  Badu Island Airport in Wikipedia  False
14      Badu Island Airport runways       Badu Island Airport runways  False
15                            12/30                            2788x0   True
16  Badu Island Airport frequencies   Badu Island Airport frequencies  False
17                    CTAF ( CTAF )                         120.3 Mhz  False
18                    MISC ( MISC )                         116.1 Mhz  False
19                    MISC ( MISC )                         119.6 Mhz  False
20                    MISC ( MISC )                         126.8 Mhz  False

In [33]:
# Assign column name to runway data tag
runway_B.columns = ['Col_1', 'Col_2', 'Col_3']
runway_B

                              Col_1                             Col_2  Col_3
0                              name               Badu Island Airport  False
1                             ident                              YBAU  False
2                              type                     small airport  False
4                          latitude                -10.14999961853027  False
5                         longitude                142.17340087890625  False
6                         elevation                                14  False
7                         continent                      Oceania (OC)  False
8                           country                    Australia (AU)  False
9                            Region               Queensland (AU-QLD)  False
10                Scheduled Service                               yes  False
11                         GPS_Code                              YBAU  False
12                        IATA_Code                               BDD  False
13                   wikipedia link  Badu Island Airport in Wikipedia  False
14      Badu Island Airport runways       Badu Island Airport runways  False
15                            12/30                            2788x0   True
16  Badu Island Airport frequencies   Badu Island Airport frequencies  False
17                    CTAF ( CTAF )                         120.3 Mhz  False
18                    MISC ( MISC )                         116.1 Mhz  False
19                    MISC ( MISC )                         119.6 Mhz  False
20                    MISC ( MISC )                         126.8 Mhz  False

In [34]:
# Select runway data rows
runway_C = runway_B.loc[runway_B['Col_3'] == True]
runway_C

    Col_1   Col_2  Col_3
15  12/30  2788x0   True

In [35]:
# parse runway length/width variables
runway_C[['length', 'width']] = runway_C['Col_2'].str.split('x', expand=True)
runway_C

C:\Users\drchr\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

    Col_1   Col_2  Col_3 length width
15  12/30  2788x0   True   2788     0

In [36]:
# create runway Dataframe
runway_df = pd.DataFrame(runway_C, columns=['Col_1', 'Col_2', 'Col_3', 'length', 'width'])
runway_df

    Col_1   Col_2  Col_3 length width
15  12/30  2788x0   True   2788     0

In [37]:
# Convert runway length/width to integer datatype
runway_df['length'] = runway_df['length'].astype('int')
runway_df['width'] = runway_df['width'].astype('int')
print(runway_df.dtypes)

Col_1     object
Col_2     object
Col_3       bool
length     int32
width      int32
dtype: object

In [38]:
# Create runway length/width totals
runway_df.loc['runway_total']= runway_df.sum(numeric_only=True, axis=0)
runway_df

              Col_1   Col_2 Col_3  length  width
15            12/30  2788x0  True  2788.0    0.0
runway_total    NaN     NaN   1.0  2788.0    0.0

In [39]:
# Create total runway length variable
runway_L = runway_df.loc['runway_total']['length']
runway_L

2788.0

In [40]:
# Create total runway width variable
runway_W = runway_df.loc['runway_total']['width']
runway_W

0.0

In [41]:
# Identify airlines data row
pattern = ' , '
airlines = df2['Col_2'].str.contains(pattern, na=False)
airlines

0     False
1     False
2     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: Col_2, dtype: bool

In [42]:
# tag airline data rows in table w/"True"
airlines_B = pd.concat([df2, airlines], axis=1)
airlines_B

                              Col_1                             Col_2  Col_2
0                              name               Badu Island Airport  False
1                             ident                              YBAU  False
2                              type                     small airport  False
4                          latitude                -10.14999961853027  False
5                         longitude                142.17340087890625  False
6                         elevation                                14  False
7                         continent                      Oceania (OC)  False
8                           country                    Australia (AU)  False
9                            Region               Queensland (AU-QLD)  False
10                Scheduled Service                               yes  False
11                         GPS_Code                              YBAU  False
12                        IATA_Code                               BDD  False
13                   wikipedia link  Badu Island Airport in Wikipedia  False
14      Badu Island Airport runways       Badu Island Airport runways  False
15                            12/30                            2788x0  False
16  Badu Island Airport frequencies   Badu Island Airport frequencies  False
17                    CTAF ( CTAF )                         120.3 Mhz  False
18                    MISC ( MISC )                         116.1 Mhz  False
19                    MISC ( MISC )                         119.6 Mhz  False
20                    MISC ( MISC )                         126.8 Mhz  False

In [43]:
# Assign column name to runway data tag
airlines_B.columns = ['Col_1', 'Col_2', 'Col_3']
airlines_B

                              Col_1                             Col_2  Col_3
0                              name               Badu Island Airport  False
1                             ident                              YBAU  False
2                              type                     small airport  False
4                          latitude                -10.14999961853027  False
5                         longitude                142.17340087890625  False
6                         elevation                                14  False
7                         continent                      Oceania (OC)  False
8                           country                    Australia (AU)  False
9                            Region               Queensland (AU-QLD)  False
10                Scheduled Service                               yes  False
11                         GPS_Code                              YBAU  False
12                        IATA_Code                               BDD  False
13                   wikipedia link  Badu Island Airport in Wikipedia  False
14      Badu Island Airport runways       Badu Island Airport runways  False
15                            12/30                            2788x0  False
16  Badu Island Airport frequencies   Badu Island Airport frequencies  False
17                    CTAF ( CTAF )                         120.3 Mhz  False
18                    MISC ( MISC )                         116.1 Mhz  False
19                    MISC ( MISC )                         119.6 Mhz  False
20                    MISC ( MISC )                         126.8 Mhz  False

In [44]:
# Select airline data row
airlines_C = airlines_B.loc[airlines_B['Col_3'] == True]
airlines_C

Empty DataFrame
Columns: [Col_1, Col_2, Col_3]
Index: []

In [45]:
# Create airlines Dataframe
airlines_df = pd.DataFrame(airlines_C, columns=['Col_1', 'Col_2', 'Col_3'])
airlines_df

Empty DataFrame
Columns: [Col_1, Col_2, Col_3]
Index: []

In [46]:
# Parse airlines data into rows
airlines_df2 = (airlines_df.set_index(['Col_3'])
   .apply(lambda x: x.str.split(',').explode())
   .reset_index())
airlines_df2

Empty DataFrame
Columns: [Col_3, Col_1, Col_2]
Index: []

In [47]:
# Tag row with null data
airlines_df2['Col_1'].replace('', np.nan, inplace=True)
airlines_df2

Empty DataFrame
Columns: [Col_3, Col_1, Col_2]
Index: []

In [48]:
# Delete row with null data
airlines_df2.dropna(subset=['Col_1'], inplace=True)
airlines_df2

Empty DataFrame
Columns: [Col_3, Col_1, Col_2]
Index: []

In [49]:
# Create airline_count variable
airline_count = len(airlines_df2)
airline_count

0

In [50]:
# Write data to temp Dataframe
temp_df.at[0, 'ID'] = ID2
temp_df.at[0, 'GPS_Code'] = GPS_Code2
temp_df.at[0, 'IATA_Code'] = IATA_Code2
temp_df.at[0, 'name'] = name2
temp_df.at[0, 'continent'] = continent2
temp_df.at[0, 'country'] = country2
temp_df.at[0, 'region'] = region2
temp_df.at[0, 'af_type'] = af_type2
temp_df.at[0, 'latitude'] = latitude2
temp_df.at[0, 'longitude'] = longitude2
temp_df.at[0, 'elevation'] = elevation2
temp_df.at[0, 'runway_L'] = runway_L
temp_df.at[0, 'runway_W'] = runway_W
temp_df.at[0, 'freq_count'] = freq_count
temp_df.at[0, 'airline_count'] = airline_count
temp_df

,ID,GPS_Code,IATA_Code,name,continent,country,region,af_type,latitude,longitude,elevation,runway_L,runway_W,freq_count,airline_count
0,YBAU,YBAU,BDD,Badu Island Airport,Oceania (OC),Australia (AU),Queensland (AU-QLD),small airport,-10.14999961853027,142.17340087890625,14,2788.0,0.0,4,0

In [51]:
# clean temp Dataframe
temp_df.dtypes

ID               object
GPS_Code         object
IATA_Code        object
name             object
continent        object
country          object
region           object
af_type          object
latitude         object
longitude        object
elevation        object
runway_L         object
runway_W         object
freq_count       object
airline_count    object
dtype: object

In [52]:
# Convert temp Dataframe to correct data types
temp_df = temp_df.astype({'latitude':'float', 'longitude':'float', 'elevation':'int', 'runway_L':'int', 'runway_W':'int', 'freq_count':'int', 'airline_count':'int'})

In [53]:
temp_df.dtypes

ID                object
GPS_Code          object
IATA_Code         object
name              object
continent         object
country           object
region            object
af_type           object
latitude         float64
longitude        float64
elevation          int32
runway_L           int32
runway_W           int32
freq_count         int32
airline_count      int32
dtype: object

In [54]:
# Append temp Dataframe to AF1
AF1 = AF1.append(temp_df, ignore_index = True)
AF1

,ID,GPS_Code,IATA_Code,name,continent,country,region,af_type,latitude,longitude,elevation,runway_L,runway_W,freq_count,airline_count
0,YBAU,YBAU,BDD,Badu Island Airport,Oceania (OC),Australia (AU),Queensland (AU-QLD),small airport,-10.15,142.173401,14,2788,0,4,0

In [55]:
# End loop

In [56]:
# Join surface data to AF1

In [57]:
# Save AF1 to .csv